.container{
    width: 500px;
    height: 300px;
    border: 2px solid;
}
.container > button{
    padding: 4px 29px;
    color: white;
    background-color: blue;
    border-radius: 9px;
    margin-left: 5px;
}
.cont{
    border: 2px solid;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
}